# Created by .ignore support plugin (hsz.mobi)
*.pyc
.idea/*
.hgcheck/*
.hg/*
dev/*
env/*
pierres_folles/public/media/*
pierres_folles/local_settings.py
pierres_folles/public/static/*
sou/public/media/*
sou/local_settings.py
sou/public/static/*
