Django==1.11.20
apidev_coop-cms==1.3.9
balafon==3.4.18
psycopg2-binary
-e git+https://github.com/ljean/django-photologue.git@cf8661daeb36003dc2bb76ab7c6f363be1d08af6#egg=django-photologue-dev
requests==2.7.0
#flup==1.0.2
#wsgiref==0.1.2
pyOpenSSL==17.1.0
django-modeltranslation==0.12.1
django-recaptcha2
django-sortedm2m